.advantages,
.competition,
.contacts,
.page-header,
.feed,
.slider-reviews,
.slider-tariffs,
.research  {
  outline: 2px solid green;

  & > * {
      outline: 2px solid red;
  }

  & > * > * {
      outline: 2px solid yellow;
  }
}
.slider-tariffs{
  & > * > *  > *  > *   > * {
      outline: 2px solid violet;
  }
}
.btn{
 outline: 2px solid green;
}

.download-app {
  outline: 2px solid green;
}

.main-footer{
 outline:2px solid green;
}

.page-footer {
  outline: 2px solid green;
}

.page-footer {
  outline: 2px solid green;
}

.photo-redactor {
  outline: 2px solid green;
}

.post{
    outline: 1px solid blue;
}

.social {
    outline: 1px solid blue;
}
