.page-header {
  background-color: @darkblue;
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 700px auto;
  min-height: 235px;
}

.page-header--main{
  min-height: 730px;
}
.page-header__wrapper{
  .container;
  .clearfix;
}

.page-header__logo {
  width: 75px;
  height: 22px;
}

.page-header__left-column{
  width: 300px;
  padding-top: 320px;
  text-align: center;
}


.page-header__title{
  color: #fff;
}

@media @mobile-widths-only {
   .page-header__title--main{
     display: none;
   }
}

@media @tablet-widths {
  .page-header {
    background-image: url("../img/bg-back-tablet.jpg");
    background-size:  1200px auto;
    min-height: 440px;
  }
  .page-header__left-column{
    padding-top: 100px;
  }
}

@media @desktop-widths {
  .page-header {
    background-image: url("../img/bg-back-desktop.jpg");
    background-size: cover;
    min-height: 390px;
  }
  .page-header__top{
    display: flex;
    justify-content: space-between;
  }
  .page-header__left-column{
    padding-top: 120px;
  }
}
